/.expo
/.idea
/dist
/node_modules
/ios/Pods
/ios/build
/ios/.xcode.env.local
/ios/tmp.xcconfig
*.xcuserstate
*.xcbkptlist
/yarn-error.log
.DS_Store

# copied over by .env.development or .env.production during Xcode builds
.env
package-lock.json
yarn.lock
android/.gradle/7.3.3/checksums/checksums.lock
android/.gradle/7.3.3/checksums/md5-checksums.bin
android/.gradle/7.3.3/checksums/sha1-checksums.bin
android/.gradle/7.3.3/executionHistory/executionHistory.bin
android/.gradle/7.3.3/executionHistory/executionHistory.lock
android/.gradle/7.3.3/fileHashes/fileHashes.bin
android/.gradle/7.3.3/fileHashes/fileHashes.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/.idea/gradle.xml
android/.idea/jarRepositories.xml
android/.idea/workspace.xml
